@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --maincolor:#e8631c;
    --seondcolor:#303030;
}
*{
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--seondcolor);
}
::-webkit-scrollbar-thumb{
    
    background: var(--maincolor);
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--seondcolor);
    padding: 0rem 7%;
    
}
.header img{
    width: 100px;
}
.icons div{
    display: flex;
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.navbar{
    display: flex;
    right: 0;
    width: 60%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background: var(--seondcolor);
    text-align: center;
}
.navbar a{
    align-items: center;
    display: block;
    font-size: 30px;
    color: white;
    font-weight: normal;
    margin: 1rem;
    margin-left: 30px;
    padding: 1rem;
}
.icons img{
    margin-left: 40px;
    width: 40%;
}

.background-main{
    background: url(Used\ Images/1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8%;
}
.main-background-content{
    position: absolute;
    top: 45%;
    width: 50%;
}
.main-background-content h1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 15px;
}
.main-background-content p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 5px;
    font-size: 28px;
    margin-bottom: 40px;
}
.main-background-content a{
    padding: 1rem 4rem;
    background: var(--maincolor);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    
}

.main-dance{
  background-color: #e8631c; 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3rem 7%;
}
.dance-headings{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.dance-headings h1{
    color: white;
    font-size: 40px;
    padding: .5rem 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.dance-headings p{
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.mian-dance-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.inner-dance{
    flex: 1 1 300px;
}
.inner-dance img{
    height: 100%;
    width: 100%;
}
.dance-content{
    width: 100%;
    padding: 2rem ;
    background: var(--seondcolor);
}
.dance-content h2{
    color: white;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}   
.dance-content p{
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.main-pricing-container{
    background-color:#303030;
    background-repeat: no-repeat;
    padding: 4rem 7%;
}
.main-pricing-container h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.main-pricing-container p{
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 45px;
}

.main-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-price{
    background: var(--maincolor);
    padding: 4rem 1rem;
    text-align: center;
}
.inner-price img{
    margin-bottom: 35px;
}
.price-content h2{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.price-content p{
    font-size: 22px;
    color: white;
    padding: 1rem 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.inner-price a{
    padding: 1rem 3rem;
    background: var(--seondcolor);
    color: white;
    font-size: 1.5rem;
    width: 80%;
    display: block;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}
.amazing-dance{  
 background:var(--maincolor);
}
.main-amazing{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  
    background: var(--maincolor);
}
.inner-amazing{
    flex: 1 0 25rem;
}
.inner-amazing img{
    width: 100%;
}
.amazing-content{
    padding: 0 1rem;
    text-align: center;
    margin-left: 45px;
}
.amazing-content h1{
    color: white;
    font-size: 80px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: left;

}
.amazing-content p{
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: normal;
}
.amazing-content a{
    display: block;
    width: 40%;
    background: var(--seondcolor);
    color: white;
    padding: 1rem 2rem;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.statics{
    background-color:#303030;
    background-repeat: no-repeat;
    padding: 4rem 7%;
}
.statics h1{
    color: white;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.statics p{
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.main-statics{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}
.inner-statics{
    background: var(--seondcolor);
    padding: 4rem 1rem;
    text-align: center;
}
.inner-statics h2{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 90px;
    margin-right: 75px;
}
.inner-statics p{
    font-size: 22px;
    color: white;
    padding: 1rem 0;
    margin-bottom: 15px;
    margin-left: 90px;
    margin-right: 75px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.dancers {
    background: url(Used\ Images/12.png);
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dancers-content {
    position: relative; /* Use relative positioning */
    text-align: center;
    color: white;
}

.dancers-content h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 10px; /* Add some space between elements */
}

.dancers-content p {
    font-family: 'Montserrat', sans-serif;
    word-spacing: 5px;
    font-size: 28px;
    text-align: center;
}
.subscribe{
    background: var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subscribe-content{
    width: 50%;
    margin-bottom: 100px;
}
.subscribe-content h1{
    color: white;
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.subscribe-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.subscribe-content .myform{
    width: 100%;
}
.subscribe-content .myform input{
    width: 70%;
    padding: 1rem 2rem;
}
.subscribe-content .myform span{
    padding: 1rem 2rem;
    background: var(--seondcolor);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.main-services{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--seondcolor);
}
.inner-services{
    background: var(--seondcolor);
    padding: 4rem 1rem;
    text-align: left;

}
.inner-services h2{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 60px;
    font-weight: normal;
}
.inner-services p{
    font-size: 22px;
    color: white;
    padding: 1rem 0;
    margin-right: 100px;
    margin-left: 60px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.inner-services-img{
    margin-left: 50px;
    height:5vh
}
.inner-services-img img{
    margin-left: 10px;
}
.inner-service h2{
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 40px;
    font-weight: normal;
}
.inner-service p{
    font-size: 22px;
    color: white;
    padding: 1rem 0;
    margin-left: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.5;
}